body {
    font-family: 'Monda', sans-serif;
    background-color: #ebebeb;
    color: #333;
    text-align: center;
    margin: 0;
}

header {
    background-color: #f37e7e;
    color: #f5f5f5;
    width: 100%;
    margin: 0;
}
header h1 { 
    margin: auto;
    padding: 25px;
    font-size: 300%;
}

menu {
    background-color: #f5f5f5;
    border-top: 1px solid #999;
    border-bottom: 1px solid #999;
    margin: 0;
}
menu a {
    line-height: 30px;
    margin: 0 1%;
}
menu a.currPG {color:#f37e7e;}

.content {
    margin: 20px auto;
    width: 60%;
    text-align: center;
}
.content h3 {text-align: left;}
.text-left {text-align: left;}

footer {
    background-color: #f5f5f5;
    border-top: 1px solid #999;
    border-bottom: 1px solid #999;
    clear: both;
}
footer a {
    line-height: 30px;
    margin: 0 5%;
    color: #999;
}

p { color: #555; }

img { margin: 15px; }
img.cert {width: 50%;}

a {
    text-decoration: none;
    color: #555;
}
a:hover {color: #f37e7e;}
a.btn {
    border-radius: 16px;
    padding: 4px;
    background-color: #555;
    color: white;
    box-shadow: 2px 1px 1px #999;
}
a.btn:hover {color: #f37e7e;box-shadow: 2px 1px 1px #f37e7e;}
a.h-link {color: #f5f5f5;}
a.h-link:hover {color: #f5f5f5;}

div.sub-footer {
    background-color: #f37e7e;
    border: #f37e7e 1px;
    width: 100%;
}
.sub-footer h3 {margin: 0;padding: 10px;}

div.grid-2x2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}
.grid-link {
    background-color: #333;
    color: #f5f5f5;
    border: 1px solid black;
    border-radius: 4px;
    box-shadow: 4px 2px 2px #999;
    height: fit-content;
    margin: 10px;
    text-align: center;
}
.grid-link:hover {color:#f37e7e;box-shadow: 4px 2px 2px #f37e7e;}
.grid-link h3 {text-align: center;}

div.grid-2x1 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
}
table.ah-table {
    padding: 5px;
    border: 1px solid black;
    margin-bottom: 5px;
    margin-left: auto;
    margin-right: auto;
    display: inline;
    width: 80%;
    min-width:min-content;
    text-align: left;
}
td.cntr {text-align: center;}

hr.half {width: 60%; margin: 20px auto;}